
.navbar{
    background-color: darkgray;

    border-bottom: 0 !important; /* Did not want a gap between navbar and container*/
}
.btn {
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    background-color: darkgray;

}

#sal_header {
    max-width: 900px;
    width: 100%;

}

.hope_img{
    background-image: url("../images/sal.jpg");
    height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
.jumbotron{
    padding-top: 10px !IMPORTANT ;
    background-color: darkgray;
    max-height: 150px;

}

#red_closed {
    color: red;
    text-shadow: none;
    
}

.pink2blue{
    background-image: linear-gradient(pink, blue);
}
#hopeDSAL {

    font-family: 'Syne Mono', monospace; 
    color: whitesmoke;


    text-shadow: 3px 3px black ;
}

#myCarousel{
    background:darkgray !important;
    align-content: center;
}
.carousel-control.left {
    background:darkgray !important;
}
.carousel-control.right {
    background:darkgray !important;
}
.carouselText {
    text-align: center;

}

html {
    position: relative;
    /* min-height: 80%;*/

}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 50px;

}

.footer > .container {
    width: 100%;
    
    /* background-color: aqua; */
    background-color: transparent;
    /* background-color: white;*/
    align-self: center;
}

.main_picture{
    border-radius: 5%;
}
.fa {
    padding: 10px;
    
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.5;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.footer {
    position: fixed;
    width: 100%;
    background-color: #222;
    
    margin-left: -15px;
    bottom: 00px;
    height: 60px;


}
.txtWhite{
    font-family: 'Syne Mono', monospace; 
    color: white;
    padding-top: 10px;
    text-align: center;
}
/* Items from years */
.img-responsive {
    margin: 0 auto;
}
.blank3{
    height: 300px;
}

.panel {
    align-items: center;
    height: 400px;
    overflow: auto;

}

.pResult {
    align-items: center;
    height: 700px;
    overflow: auto;

}
.fRight{
    float: right;
    display: inline;
}
.fInline{
    display: inline;
}

.pfeedback {
    align-items: center;
    height: 600px;

}

.panel_picture {
    max-width: 95%;
    background-color: white;
}